#issue-todo-list-table.sortable td {
    cursor: move;
}

#show-right-box p {
    margin: 0;
}

.issue-todo-list-placeholder {
    height: 23px;
}

.ui-tooltip{
    width: min-content !Important;
}

#content .autoscroll {
    overflow-x: visible;
}
